<nav class="navbar navbar-default navbar-fixed-top" style="background-color: rgb(129, 190, 250);">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="#" class="navbar-brand" style="color: black;">Flight Booking System</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink='/registeration-page' style="font-size: medium;color: black;">User Register</a></li>
        <li><a routerLink='' style="font-size: medium;color: black;">User Login</a></li>
        <li><a routerLink='/adminloginpage' style="font-size: medium;color: black;">Admin Login</a></li>
      </ul>
    </div>
</nav>
